[Unit]
Description=Load t2bce_audio; reboot if T2 audio subsystem unavailable
Before=display-manager.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/t2bce-audio-load.sh
RemainAfterExit=yes
TimeoutStartSec=60

[Install]
WantedBy=multi-user.target
